

<div id='community'>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Poll Community</h1>
      <p class="text-center">Welcome to the Poll community!</p>
      <ul class="list-unstyled">
        <% @users.each do |user| %>
        <% if user.profile %>
        <li>
          <div class="well row <%= cycle('white-bg', '') %>">
            <div class="col-sm-4 text-center">

            </div>
            <div>
              <%= link_to user do %>
              <h3><%= user.profile.first_name %> <%= user.profile.last_name  %></h3>
              <p><%= user.profile.description %></p>
              <% end %>
              <p><%= user.profile.gender %></p>
              <% if user.plan_id == 2 %>
              <span class="label label-danger">PRO</span>
              <% end %>
            </div>
          </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <h2>Users</h2>
    <%= line_chart User.group_by_day(:created_at).count %>
  </div>
</div>


<!--
<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="text-center col-md-4 col-md-offset-2">
      <ul>
      <%= @users.each do |user| %>

      <% end %>
    </ul>
        <br>

        <%= link_to "My Profile", user_path(current_user.id), class: 'btn btn-default btn-lg btn-block'%>
      </div>
    </div>
  </div>
</div>
-->
