<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <!--
      <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
    -->
    </br>
    </br>

    </div>
      <div class="col-md-6">
        <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>

        <div class="well profile-block profile-description">
          <h3><%= @user.profile.gender %><br></h3> <br>
          <h3><%= @user.profile.contact_email %></h3>
          <h3><%= @user.profile.zip_code %><br></h3>
          <h3><%= @user.profile.description %><br></h3>
    </div>
        <%= link_to "Visit the community", users_path, class: 'btn btn-default btn-lg btn-block'%>
        <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
        <%= link_to "Edit your account", edit_user_registration_path, class: 'btn btn-default btn-lg btn-block'%>
  </div>
</div>
</div>
<!--
<% if current_user.plan_id == 2 %> <br>
<% end %>
-->
