
<div class ="row">
  <div class="col-md-6 col-md-offset-3">
    <div class ="well">
      <h1 class="text-center">Poll Details</h1>
      <p id="notice"><%= notice %></p>

      <h1>
        <strong>Title:</strong>
        <%= @link.title %>
      </h1>
<!--
      <h3>
        <strong>Url:</strong>
        <%= @link.url %>
      </h3>
-->
      <%= button_to like_link_path(@link), :method => :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Yea
      <%= @link.get_upvotes.size %>
      <% end %>

      <%= button_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      Nay
      <%= @link.get_downvotes.size %>
      <% end %>
      <div class="container">
        <div class="row">


      <%= link_to 'Back to Polls', links_path, class: "btn btn-sm btn-success"  %>
      <% if @link.user == current_user -%>
        <% end %>
</br>
</br>
        <%= link_to 'Edit Your Poll', edit_link_path(@link), class: "btn btn-default" %>
        <%= link_to 'Delete Poll', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>



      </div>
      </div>


      </br>
      </br>

      <h3 class="comments_title">
        <%= @link.comments.count %> Comments
      </h3>
      <%= simple_form_for [@link, Comment.new]  do |f| %>
        <div class="field">
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <br>
        <%= f.submit "Add Comment", class: "btn btn-primary" %>
      <% end %>

      <!--
      <%= link_to 'Edit', edit_link_path(@link) %> |
      -->


<div id='details'>
<div class='well'>
      <%= render :partial => @link.comments.order('created_at DESC') %>
    </div>

 </div>
 <h2>Votes</h2>
 <%= line_chart ActsAsVotable::Vote.all.group_by_day(:created_at).count %>
</div>
</div>
</div>
</div>
