<html>
  <head>
    <title>Poll</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascrip' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag('Poll2.png'), root_path, class: "navbar-left", size: "20" %>

        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <div class="nav navbar-nav navbar-right">
            <div class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <li><%= link_to "Create a Free Account", new_user_registration_path(plan: 1) %> </li>
              <%end%>
            </div>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Polls",links_path %></li>
              <li><%= link_to "My Profile", user_path(current_user.id) %></li>
            <% end %>
            <li><%= link_to "About Poll", about_path%></li>

          </ul>
          <!--
          <%= form_tag("#", method: 'get', class: 'navbar-form navbar-right') do %>
  <%= search_field_tag 'search poll', nil, class: 'form-control', placeholder: 'Search Polls'  %>
  <%= submit_tag "Search", class: 'btn btn-default', :name => nil %>
<% end %>
-->
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

      <div class="container">
        <div class ="text-center">
        <% flash.each do |type, msg| %>
          <%= content_tag :div, msg, class: "alert alert-#{type}" %>
        <% end %>
      </div>
    </div>

  <%= yield %>
</br>
</br>
</br>
</br>
</br>
</br>
</body>
