<!DOCTYPE html>
<html>
  <head>


        <nav class ="navbar navbar-default navbar-static-top" role="navigation">
            <div class= "container">
          <div class ="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle= "collapse" data-target="#main-nav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class ="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--Hamburger Menu -->
            <div id="main" class="col-sm-1" style=text-align:left>
              <span style="font-size:30px ; cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>

          <%= link_to root_path, class: "navbar-brand" do %>
              Aaron Eichhorst
              <% end %>
          </div>
          <div class="collapse navbar-collapse" id="main-nav-collapse">
            <div class="nav navbar-nav navbar-right">

            </div>
            <ul class="nav navbar-nav navbar-right">

              <li>
              <%= link_to "https://github.com/piGuy314", target: :_blank  do %>
              <i class="fa fa-github fa-2x"></i>
              <% end %>
            </li>
            <li>
            <%= link_to "https://www.linkedin.com/in/aaron-eichhorst-3a348862/", target: :_blank  do %>
            <i class="fa fa-linkedin-square fa-2x"></i>
            <% end %>
          </li>
          <li>
          <%= link_to "https://www.facebook.com/Examples-in-Programming-202851069731279/", target: :_blank  do %>
          <i class="fa fa-facebook-official fa-2x"></i>
          <% end %>
        </li>
            </ul>

          </div><!-- /.navbar-collapse -->
          </div>
      </nav>


    <title>Poll</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
